div{
    position: relative;
    right: 0%;
 }
 h1{
     background-color: seagreen;
     position: relative;
     padding: 0%;
     padding-left: 26%;
     
 }
 h5{
     position: relative;
     left: 5%;
     color: hotpink;
 }
 img{
     position: relative;
     left: 150%;
 }
 
 